# Twitch OAuth credentials for ContentJuiceOS
# Get these from https://dev.twitch.tv/console/apps
# Client Type must be "Confidential" to get a Client Secret.
# PKCE is used alongside the secret for additional security.
TWITCH_CLIENT_ID=your_twitch_client_id_here
TWITCH_CLIENT_SECRET=your_twitch_client_secret_here
